<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>runnerJumpUp0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>runnerJumpUp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jumpUp.png</string>
            <key>size</key>
            <string>{130,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9a7c930466893bbfe2eb7b9cabef32d:d66053285ec5f539e4b12ab81842cd2b:cefb01a8ab1ab3fb3677af9f65532949$</string>
            <key>textureFileName</key>
            <string>jumpUp.png</string>
        </dict>
    </dict>
</plist>
